<div class="container">

 <div class="tytle">
  <h2><%= @customer.last_name %> <%= @customer.first_name %>さんのレビュー一覧</h2>
 </div>

 <% @reviews.each do |review| %>
 <div class="reviewbox2">
  <%= link_to public_review_path(review.id) do %>
   <div class ="reviewbox">
    <h5><i class="fas fa-church"></i> <%= review.venue %></h5>
  <% end %>
   <%= review.comment %><br>
   </div>
   </div>
 <% end %>
 <%= paginate @reviews %>
 </div>